<nav class="navbar bg-dark">
    <div class="container" style="justify-content: center">
        <!-- <div class="container-fluid"> -->
        <form class="d-flex" role="search">
            <input class="form-control me-4" id="bundleName" type="search" placeholder="Search" aria-label="Search" />
            <!-- <input class="form-control me-4" id="bundleName" type="search" [(ngModel)]="filterText" placeholder="Search" aria-label="Search" /> -->
            <button class="btn btn-outline-info" type="submit">Search</button>
        </form>
        <!-- </div> -->
    </div>
</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container" style="justify-content: center;">
        <form class="form-inline">
            <div class="form-group">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </div>
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav> -->
<!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> -->
<!-- <div class="container collapse navbar-collapse" id="navbarSupportedContent"> -->
<!-- <div class="form-group my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </div>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
<!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
<!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
<!-- </div> -->