/* .card {
    margin: 10px;
    padding: 0;
} */
.container {
  padding: 0;
}

/* flex: auto; */
.row {
  /* margin: auto; */
  /* padding: auto; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

.col {
  /* margin: auto; */
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*.card-body, .card-title, .card-text {*/
/*  padding: auto;*/
/*}*/

.card-text, .card-title {
  margin: 1%;
}

/* h3 {
    margin: auto;
    padding: 0.5rem;
} */
